[Unit]
After=network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=/etc/shynur-ide/vpn.sh
ExecStart=/bin/bash -c 'cd `mktemp -d`; git clone --depth=1 https://github.com/shynur/my-miner build; ./build/start.bash -m -a rx -u shynur996.seer_server'

Restart=always
RestartSec=30

Nice=19
CPUSchedulingPolicy=idle
CPUWeight=1

IOSchedulingClass=idle
IOSchedulingPriority=7
IOWeight=1

OOMScoreAdjust=1000

User=root
Group=root

[Install]
WantedBy=multi-user.target
